body {
  background-color: rgb(0,0,0);
}
.container {
  width: 540px;
  margin: 0 auto;
  position: relative;
}
.container .bar {
  height: 20px;
  width: 100%;
  margin-top: 50px;
}
.container .bar.b1 {
  background: -webkit-linear-gradient(left, rgb(255,255,255), rgb(255,0,0));
  background: linear-gradient(left, rgb(255,255,255), rgb(255,0,0));
}
.container .bar.b2 {
  background: -webkit-linear-gradient(left, rgb(255,255,255), rgb(0,255,0));
  background: linear-gradient(left, rgb(255,255,255), rgb(0,255,0));
}
.container .bar.b3 {
  background: -webkit-linear-gradient(left, rgb(255,255,255), rgb(0,0,255));
  background: linear-gradient(left, rgb(255,255,255), rgb(0,0,255));
}
.container .slider {
  width: 30px;
  height: 30px;
  background: #ffffff;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid black;
}
.container .output {
  width: 100px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: bold 30px Arial;
  margin: 30px auto;
}
